listen: :${HY2_PORT}

tls:
  cert: ${HY2_CERT_PATH}
  key: ${HY2_KEY_PATH}

auth:
  type: http
  http:
    url: http://127.0.0.1:${PANEL_API_PORT}/internal/hy2/auth/${INTERNAL_AUTH_TOKEN}
    insecure: true

trafficStats:
  listen: 127.0.0.1:${HY2_STATS_PORT}
  secret: ${HY2_STATS_SECRET}

masquerade:
  type: proxy
  proxy:
    url: https://www.cloudflare.com
    rewriteHost: true