listen: :${HY2_PORT}

acme:
  domains:
    - ${HY2_DOMAIN}
  email: ${PANEL_ACME_EMAIL}
  type: http

auth:
  type: http
  http:
    url: http://127.0.0.1:${PANEL_API_PORT}/internal/hy2/auth?token=${INTERNAL_AUTH_TOKEN}
    insecure: true

trafficStats:
  listen: 127.0.0.1:${HY2_STATS_PORT}
  secret: ${HY2_STATS_SECRET}

masquerade:
  type: proxy
  proxy:
    url: https://www.cloudflare.com
    rewriteHost: true
